# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
ENV/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints

# Environment variables
.env
.env.*

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Test
htmlcov/
.coverage
.tox/

# Data
*.sqlite3
*.db

# Ignore data if needed
/data/
